@charset "UTF-8";

html,
html *{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
header {
	padding: 10px 0px 0px 30px;
}
.headdonate{
	position:absolute;
	transform: translate(1025px,-100%);
	font-size: 30pt;
	border-radius: 6px;
	border: 5px solid #979797;
	letter-spacing: 4px;
}
h1{
	padding-top: 35px;
	text-transform: uppercase;
}

header img {
	float: left;
	width: 110%;
	max-width: 120px;
	height: auto;
	padding-right: 25px;
	padding-left: 15px;
}

.heropic{
	object-fit: cover;
	padding-top: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 1380px;
	
}

.text-wrapper {
	max-width: 680px;
	text-align: center;
	color:#FFFDFD;
	position: absolute;
	transform: translate(700px,-160%)
}

#title{
	font-size: 35pt;
	position: relative;
	left: 1px;
}

#questtext{
	position: relative;
	left: 5px;
	top: -10px;
	display: block;
	margin-bottom: 15px;
	text-align: center;
}

button:hover{
	cursor: pointer;
}
.donate-button {
	text-decoration: none;
	align-content: center;
	padding: 2px 4px 0px 4px;
	font-size: 35px;
	border-radius: 10px;
	border: 4px #CDC8C8 solid;
	color: #454343;
	position: absolute;
	left: 34%;
	background-color: #F4F4F4
	
}
.headdonate{
	font-size: 45px;
	text-decoration: none;
	color: #454343;
	padding: 5px;
	border: 4px #CDC8C8 solid;
}

.adoption{
	padding-top: 15px;
}

.row{
	height: 500px;
	width: 50%;
	margin: 50px 60px;

	border-radius: 10px;
}
.p-wrap{
	position: absolute;
	padding: 30px 0px 0px 0px;
}
.our-philo{
	float: left;
	padding: 30px 70px 30px ;
	color: #404040;
	text-align: center;
	width: 570px;
	line-height: 38px;
	background-color: #D3C1BA;
	border-radius: 5px;
}
.philo-img{
	position: absolute;
	right:5%;
	padding: 0px 0px 25px 20px;
}
#grey{
	border-radius: 10px;
}

#philo-title{
	text-align: center;
	font-size: 28pt;
	padding: 0px 0px 20px;
}


#adopt{
	text-align: center;
	
}
.adoptions{
	margin: 50px 60px;
}
.adopt-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.adopt-col{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	
}
.cats-col{
	height: 600px;
	
}
.dog-col{
	height: 100%;
}

.adoption-picture{
	width: 25%;
	height: auto;
}


.greyson{
	box-sizing: border-box;
	background: #E5ECF4;
	padding: 20px;
	border-radius: 20px;
	width: 95%;

}
.text{
	font-size: 19px;
	position: absolute;
	transform:translate(210px,-115%)
	
}



.col{
	width: 100%;
}


